            <!--  [routerLink]="['/tools', too.id]"-->
<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3>Tools</h3>
            <hr>
        </div>
    </div>
    <div fxFlex *ngIf="tool" [@expand]>
        <mat-grid-list cols="2" rowHeight="400px" rowHeight="2:2">
            <mat-grid-tile *ngFor="let too of tool"   
                routerLinkActive="router-link-active">
                <img [ngClass]="{
                    'is-active': !opened,
                    'is-inactive': opened
                  }" clickImage (clickImage)="opened = !opened" src="{{ baseURL + too.image }}" alt={{too.name}}>
                <mat-grid-tile-footer>
                    <h1>{{too.name | uppercase}}</h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
            <mat-grid-tile>
        <div [hidden]="tool || errorMsg">
            <mat-spinner></mat-spinner>
            <h4>Loading ... Please wait</h4>
        </div>
        <div>
                <mat-list-item *ngFor="let d of tool" class="text">
                    <h6 mat-line> {{d.description}} </h6>
                   Date: {{d.date | date}} <br/>
                   Date: {{d.date | date : 'yyyy-MM-dd'}}  <br/>
                   Date:    {{d.date | date : ' MMMM d, y'}} 
                </mat-list-item>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
     


</div>